{{ header }}
{{ column_left }}

<div id="content" class="hrx_m_content">
    <div class="page-header">
        <div class="container-fluid">
            <h1><img src="view/image/hrx_m/logo-hrx.svg" alt="Logo" style="height: 33px;"></h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
            <span class="hrx-version">v{{ hrx_m_version }}</span>
        </div>
    </div>

    <!-- Errors / Success -->
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ success }}
        </div>
        {% endif %}
    </div>

    <!-- VERSION CHECK -->
    {% if hrx_m_git_version %}
    <div class="container-fluid">
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ hrx_m_new_version_notify|replace({'$$hrx_m_new_version$$': hrx_m_git_version.version}) }} 
            <a href="{{ hrx_m_git_version.download_url }}" target="_blank" class="btn btn-success">{{ hrx_m_button_download_version }}</a>
        </div>
    </div>
    {% endif %}

    <!-- DB CHECK -->
    {% if hrx_m_db_check %}
    <div class="container-fluid">
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ hrx_m_db_fix_notify }} 
            <a href="{{ hrx_m_db_fix_url }}" class="btn btn-success">{{ hrx_m_button_fix_db }}</a>
        </div>
    </div>
    {% endif %}

    <!-- XML CHECK -->
    {% if hrx_m_xml_check %}
    <div class="container-fluid">
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ hrx_m_xml_fix_notify }} 
            <a href="{{ hrx_m_xml_fix_url }}" class="btn btn-success">{{ hrx_m_button_fix_xml }}</a>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid hidden" data-delivery-points-loader>
        <div class="alert alert-info hrx-delivery-points-loading">
            <i class="fa fa-refresh fa-spin"></i>
            <span>{{ hrx_m_alert_delivery_points_loaded }}</span>
            <span data-delivery-points-loaded>00</span>
            <span>{{ hrx_m_alert_delivery_points_do_not_close }}</span>
        </div>
    </div>

    <ul class="container-fluid nav nav-tabs">
        <li class="active"><a href="#tab-general" data-toggle="tab">{{ hrx_m_tab_general }}</a></li>
        <li><a href="#tab-api" data-toggle="tab">{{ hrx_m_tab_api }}</a></li>
        <li><a href="#tab-warehouse" data-toggle="tab">{{ hrx_m_tab_warehouse }}</a></li>
        <li><a href="#tab-delivery" data-toggle="tab">{{ hrx_m_tab_delivery }}</a></li>
        <li><a href="#tab-delivery-courier" data-toggle="tab">{{ hrx_m_tab_delivery_courier }}</a></li>
        <li><a href="#tab-prices" data-toggle="tab">{{ hrx_m_tab_prices }}</a></li>
        <li><a href="#tab-parcel-default" data-toggle="tab">{{ hrx_m_tab_parcel_default }}</a></li>
    </ul>

    <div class="tab-content">
        <!-- General Settings -->
        <div class="tab-pane active" id="tab-general">
            {{ partial_tab_general }}
        </div>

        <!-- API Settings -->
        <div class="tab-pane" id="tab-api">
            {{ partial_tab_api }}
        </div>

        <!-- Warehouse -->
        <div class="tab-pane" id="tab-warehouse">
            {{ partial_tab_warehouse }}
        </div>

        <!-- Delivery Points -->
        <div class="tab-pane" id="tab-delivery">
            {{ partial_tab_delivery_point }}
        </div>
        
        <!-- Delivery Locations (Courier) -->
        <div class="tab-pane" id="tab-delivery-courier">
            {{ partial_tab_delivery_courier_location }}
        </div>

        <!-- Price Settings -->
        <div class="tab-pane" id="tab-prices">
            {{ partial_tab_prices }}
        </div>
        
        <!-- Parcel Defaults -->
        <div class="tab-pane" id="tab-parcel-default">
            {{ partial_tab_parcel_default }}
        </div>

    </div> <!-- Content panel -->
</div>

<link rel="stylesheet" href="view/javascript/hrx_m/admin.css?20220920">
<script>
var HRX_M_SETTINGS_DATA = {
    syncWarehousePerPage: {{ sync_warehouse_per_page }},
    syncDeliveryPointsPerPage: {{ sync_delivery_points_per_page }},
    defaultWarehouse: {{ default_warehouse|json_encode() }},
    url_ajax: '{{ ajax_url }}',
    geo_zones: {{ geo_zones|json_encode() }}
};
</script>
<script src="{{ mijora_common_js_path }}"></script>
<script src="view/javascript/hrx_m/settings.js?20220920"></script>
{{ footer }} 