<h4>{{ hrx_m_title_parcel_default_global }}</h4>
<div class="input-group">
	<span class="input-group-addon">{{ hrx_m_label_pd_weight }}</span>
	<input type="text" class="form-control disabled" value="{{ global_parcel_default.weight }}" disabled>
	<span class="input-group-addon">kg</span>
</div>
<div class="input-group">
	<span class="input-group-addon">{{ hrx_m_label_pd_length }}</span>
	<input type="text" class="form-control disabled" value="{{ global_parcel_default.length }}" disabled>
	<span class="input-group-addon">cm</span>
</div>
<div class="input-group">
	<span class="input-group-addon">{{ hrx_m_label_pd_width }}</span>
	<input type="text" class="form-control disabled" value="{{ global_parcel_default.width }}" disabled>
	<span class="input-group-addon">cm</span>
</div>
<div class="input-group">
	<span class="input-group-addon">{{ hrx_m_label_pd_height }}</span>
	<input type="text" class="form-control disabled" value="{{ global_parcel_default.height }}" disabled>
	<span class="input-group-addon">cm</span>
</div>
<div class="form-group">
	<div class="text-right">
		<button type="button" data-modal="#parcel_default_modal" data-parcel-default-edit="{{ global_parcel_default.category_id }}" class="btn btn-default">{{ hrx_m_pd_btn_edit_global }}</button>
	</div>
</div>

{# <ul class="list-group">
	<li class="list-group-item">{{ hrx_m_title_parcel_default_global }}</li>
	<li class="list-group-item">{{ hrx_m_label_pd_weight }}:
		{{ global_parcel_default.weight }}kg</li>
	<li class="list-group-item">{{ hrx_m_label_pd_length }}:
		{{ global_parcel_default.length }}cm</li>
	<li class="list-group-item">{{ hrx_m_label_pd_width }}:
		{{ global_parcel_default.width }}cm</li>
	<li class="list-group-item">{{ hrx_m_label_pd_height }}:
		{{ global_parcel_default.height }}cm</li>
</ul> #}

{# <div class="form-horizontal">

	<input type="hidden" name="hrx_m_pd_category_id" id="input-pd-category-id" value="{{ global_parcel_default.category_id }}">

	<div class="alert alert-info">
		<i class="fa fa-exclamation-circle"></i>
		{{ hrx_m_help_parcel_defaults }}
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label" for="input-pd-weight">{{ hrx_m_label_pd_weight }}</label>
		<div class="col-sm-10">
			<div class="input-group">
				<input type="text" name="hrx_m_pd_weight" value="{{ global_parcel_default.weight }}" id="input-pd-weight" class="form-control"/>
				<span class="input-group-addon">kg</span>
			</div>
		</div>
	</div>

	<div class="form-group pd-dimensions">
		<label class="col-sm-2 control-label" for="input-pd-length">{{ hrx_m_label_pd_dimensions }}</label>
		<div class="col-sm-10">
			<div class="row">
				<label class="col-sm-2 control-label" for="input-pd-length">{{ hrx_m_label_pd_length }}</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" name="hrx_m_pd_length" value="{{ global_parcel_default.length }}" id="input-pd-length" class="form-control"/>
						<span class="input-group-addon">cm</span>
					</div>
				</div>

				<label class="col-sm-2 control-label" for="input-pd-width">{{ hrx_m_label_pd_width }}</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" name="hrx_m_pd_width" value="{{ global_parcel_default.width }}" id="input-pd-width" class="form-control"/>
						<span class="input-group-addon">cm</span>
					</div>
				</div>

				<label class="col-sm-2 control-label" for="input-pd-height">{{ hrx_m_label_pd_height }}</label>
				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" name="hrx_m_pd_height" value="{{ global_parcel_default.height }}" id="input-pd-height" class="form-control"/>
						<span class="input-group-addon">cm</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12 text-center">
			<button type="button" data-modal="#parcel_default_modal" data-parcel-default-edit="{{ global_parcel_default.category_id }}" class="btn btn-default save-global-dimensions">{{ hrx_m_generic_btn_save }}</button>
		</div>
	</div>

</div> #}
