<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ hrx_m_title_general_settings }}</h3>
        </div>

        <div class="panel-body">
            <form action="{{ form_action }}" method="post" enctype="multipart/form-data" id="form-hrx_m" class="form-horizontal">
                <input type="hidden" name="general_settings_update">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-tax-class">{{ hrx_m_label_tax_class }}</label>
                    <div class="col-sm-10">
                        <select name="hrx_m_tax_class_id" id="input-tax-class" class="form-control">
                            <option value="0">{{ hrx_m_generic_none }}</option>
                            {% for tax_class in tax_classes %}
                                {% if tax_class['tax_class_id'] == hrx_m_tax_class_id %}
                                    <option value="{{ tax_class['tax_class_id'] }}" selected="selected">{{ tax_class['title'] }}</option>
                                {% else %}
                                    <option value="{{ tax_class['tax_class_id'] }}">{{ tax_class['title'] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-geo-zone">{{ hrx_m_label_geo_zone }}</label>
                    <div class="col-sm-10">
                        <select name="hrx_m_geo_zone_id" id="input-geo-zone" class="form-control">
                            <option value="0">{{ hrx_m_generic_all_zones }}</option>
                            {% for geo_zone in geo_zones %}
                            {% if geo_zone['geo_zone_id'] == hrx_m_geo_zone_id %}
                                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                            {% else %}
                                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ hrx_m_label_status }}</label>
                    <div class="col-sm-10">
                        <select name="hrx_m_status" id="input-status" class="form-control">
                            {% if hrx_m_status %}
                            <option value="1" selected="selected">{{ hrx_m_generic_enabled }}</option>
                            <option value="0">{{ hrx_m_generic_disabled }}</option>
                            {% else %}
                            <option value="1">{{ hrx_m_generic_enabled }}</option>
                            <option value="0" selected="selected">{{ hrx_m_generic_disabled }}</option>
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-sort-order">{{ hrx_m_label_sort_order }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="hrx_m_sort_order" value="{{ hrx_m_sort_order }}" id="input-sort-order" class="form-control" />
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-right">
                <button type="submit" form="form-hrx_m" data-toggle="tooltip" title="{{ hrx_m_generic_btn_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>
</div>