<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> {{ hrx_m_title_price_settings }}</h3>
        </div>
        <div class="panel-body">
            <p class="help-block">{{ hrx_m_help_price }}</p>
            <div id="price-table" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-country">{{ hrx_m_label_price_country }}</label>
                            <div class="col-sm-10">
                                <select name="country" class="js-select2" style="width: 100%" data-placeholder="{{ hrx_m_placeholder_price_country }}">
                                    {% for country in countries %}
                                    <option value="{{ country['iso_code_2'] }}">{{ country['name'] }}</option>
                                    {% endfor %}
                                </select>
                                <p class="help-block">{{ hrx_m_help_price_country }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-terminal-price">{{ hrx_m_label_price_terminal }}</label>
                            <div class="col-sm-4">
                                <input type="text" name="terminal_price" value="" id="input-terminal-price" class="form-control" />
                            </div>

                            <label class="col-sm-2 control-label" for="input-terminal-price-type">{{ hrx_m_label_price_range_type }}</label>
                            <div class="col-sm-4">
                                <select name="terminal_price_range_type" value="0" id="input-terminal-price-range-type" class="form-control">
                                    {% for range_key, price_range_type in price_range_types %}
                                        <option value="{{ range_key }}">{{ price_range_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button id="add-price-btn" class="btn btn-default center">{{ hrx_m_button_add_price }}</button>
                        </div>
                    </div> <!-- price panel heading -->

                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ hrx_m_label_price_country }}</th>
                                    <th>{{ hrx_m_label_price_terminal }}</th>
                                    <th>{{ hrx_m_label_price_range_type }}</th>
                                    <th>{{ hrx_m_header_actions }}</th>
                                </tr>
                            </thead>
                            <tbody id="created-prices">
                                <tr id="no-price-notification" class=" {% if hrx_m_prices %}hidden{% endif %} ">
                                    <td colspan="4">No prices set</td>
                                </tr>
                                {% for price in hrx_m_prices %}
                                    {{ price }}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- price panel body -->
                </div> <!-- price panel -->
            </div>
        </div> <!-- panel body -->
    </div> <!-- panel -->
</div> <!-- container -->

<!-- Price EDIT Modal -->
<div class="edit-price-modal hidden">
    <div class="panel panel-default col-xs-11 col-md-9 col-lg-7">
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-modal-country">{{ hrx_m_label_price_country }}</label>
                <div class="col-sm-10">
                    <input type="hidden" name="country" value="">
                    <input name="country_name" type="text" readonly="" value="" id="input-modal-country" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-modal-terminal-price">{{ hrx_m_label_price_terminal }}</label>
                <div class="col-sm-4">
                    <input type="text" name="terminal_price" value="" id="input-modal-terminal-price" class="form-control" />
                </div>

                <label class="col-sm-2 control-label" for="input-modal-terminal-price-range-type">{{ hrx_m_label_price_range_type }}</label>
                <div class="col-sm-4">
                    <select name="terminal_price_range_type" value="0" id="input-modal-terminal-price-range-type" class="form-control">
                        {% for range_key, price_range_type in price_range_types %}
                            <option value="{{ range_key }}">{{ price_range_type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group text-center">
                <button data-price-edit-save="true" class="btn btn-default center">{{ hrx_m_generic_btn_save }}</button>
                <button data-price-edit-cancel class="btn btn-default center">{{ hrx_m_generic_btn_cancel }}</button>
            </div>
        </div>
    </div>
</div>