{% set price_country_code = price.getCountryCodeValue() %}
<tr data-price-row="{{ price_country_code }}" data-price-data='{{ price.getBase64String() }}'>
    <td>{{ price.getCountryNameValue() }}</td>
    <td>{{ price.getPriceValue() }}</td>
    <td>{{ price_range_types[price.getRangeTypeValue()] }}</td>
    <td>{{ price.getCourierPriceValue() }}</td>
    <td>{{ price_range_types[price.getCourierRangeTypeValue()] }}</td>
    <td>
        <div class="hrx_m-actions-col">
            <button data-price-edit="{{ price_country_code }}" class="btn btn-primary"><i class="fa fa-edit"></i></button>
            <button data-price-delete="{{ price_country_code }}" class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </div>
    </td>
</tr>